html, body {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;

}



.background {
	background: linear-gradient(-75deg, black, rgb(102, 1, 1), rgb(134, 34, 235), black);
	background-size: 400% 400%;
	animation: fade 15s ease infinite;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes fade {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



@keyframes bubbleFade {
    0% {
        opacity: 0%;
        transform: translateY(-20px);
    }
    50% {
        opacity: 80%;
        transform: translateY(20px);
    }
    100% {
        opacity: 0%;
        transform: translateY(-20px);
    }
}


